{% load static %}
<div class="header">
    <div class="header__logo box">
        <div class="header__logo__img box">
            <img src="{% static 'his/images/logo.png' %}" style="width: 36px; height: 36px;">
        </div>
        <div class="header__logo__title box">
            <span>위담한방병원</span>
        </div>
    </div>
    <div class="header__menu box">
        <div class="header__menu__item">
            <div class="header_menu__item__title" data-toggle="dropdown" id="paitentSearch" aria-expanded="false">
                <span>환자조회</span>
            </div>
            <div class='header_menu__item__dropdown-menu dropdown-menu' aria-labelledby="paitentSearch">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="header__menu__item">
            <div class="header_menu__item__title" data-toggle="dropdown" id="Registration" aria-expanded="false">
                <span>등록수납</span>
            </div>
            <div class='header_menu__item__dropdown-menu dropdown-menu' aria-labelledby="Registration">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="header__menu__item">
            <div class="header_menu__item__title" data-toggle="dropdown" id="Clinic" aria-expanded="false">
                <span>진료지원</span>
            </div>
            <div class='header_menu__item__dropdown-menu dropdown-menu' aria-labelledby="Clinic">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-user-md"></i> 진단/처방</a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-code-branch"></i> 한의 온톨로지</a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-desktop"></i> 한의 인공지능</a>
            </div>
        </div>

    </div>
    <div class="header__user box">
        <span style="padding-right: 8px;">환영합니다!정현규님 </span>
        <img src="{% static 'his/images/user.png' %}" style="width: 36px; height: 36px;">
    </div>
</div>