{% load static %}
<div class="wd_A">
    <div class="wd_a wd_AA box">
        <div class="wd_AAA box">

        </div>
        <div class="wd_AAB box">
            <!-- <img src="{% static 'his/images/logo.jpg' %}" style="width: 109px; height: 50px;"> -->
            <span>위담한방병원</span>
        </div>
    </div>
    <div class="wd_a wd_AB box">
        <div class="wd_ab wd_ABA box">
            <span>환자조회</span>
        </div>
        <div class="wd_ab wd_ABB box">
            <span>등록수납</span>
        </div>
        <div class="wd_ab wd_ABC box">
            <span>진료지원</span>
        </div>
    </div>
    <div class="wd_a wd_AC box">
        
    </div>
</div>