html,
body {
  height: 100%;
}

/* dev */
.box {
  /* border: 1px solid #000000; */
}

#header {
  border-bottom: 1px solid #dee3eb;
}

.wd_A {
  width: 100%;
  padding: 0px 8px 0px 8px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.wd_AA {
  flex: 1 0 auto;
  min-width: 280px;
  display: flex;
  border-right: 1px solid #dee3eb;
}

.wd_AB {
  flex: 1 1 100%;
  min-width: 800px;
  display: flex;
}

.wd_AC {
  flex: 1 0 auto;
  width: 200px;
  border-left: 1px solid #dee3eb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wd_AAA {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.wd_AAB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.wd_ab {
  flex-shrink: 1;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dee3eb;
  cursor: pointer;
  height: 100%;
}

.wd.dropdown-menu {
  margin-top: 4px;
  border-radius: 0;
}