{% extends "data_collecting/base.html" %} {% block content %}
<div style="margin-top:20px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div style="float:left; margin-bottom: 20px">
                <div class="panel-title">위담바이오 로그인</div>
            </div>
            <div style="float:right; margin-bottom: 20px">
                <a href="#">문의</a>
            </div>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'data_collecting:authenticate' %}" method="post">
                {% csrf_token %}
                <div style="margin-bottom: 25px" class="input-group">
                    <input type="text" class="form-control" name="username" placeholder="아이디">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <input type="password" class="form-control" name="password" placeholder="패스워드">
                </div>

                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <input type="submit" id="btn-login" class="btn btn-success" value="로그인">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}