{% extends "data_collecting/base.html" %} {% block content %}
<div class="column-left">
    <div class="w-panel">
        <div class="section-header-div">
            <span class="section-header-text">바디차트</span>
        </div>
        <div class="bodychart-panel">
            <div class="bodychart-form-field">
                <img src="/static/images/bodychart.png">

                <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 70px;">
                    <label class="bodychart-label" for="두통">두통</label>
                    <input name="두통" class="bodychart-input-text" type="text" maxlength="1">
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 150px;">
                    <label class="bodychart-label" for="현훈">현훈</label>
                    <input name="현훈" type="text" class="bodychart-input-text" maxlength="1">
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 230px;">
                    <label class="bodychart-label" for="두불청">두불청</label>
                    <input name="두불청" type="checkbox">
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 310px;">
                    <label class="bodychart-label" for="두중감">두중감</label>
                    <div class="bodychart-checkbox">
                        <input name="두중감" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 450px;">
                    <label class="bodychart-label" for="안면">안면</label>
                    <div class="bodychart-checkbox">
                        <input name="안면/불면" type="radio" value="안면">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 40px; left: 450px;">
                    <label class="bodychart-label" for="불면">불면</label>
                    <div class="bodychart-checkbox">
                        <input name="안면/불면" type="radio" value="불면">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 550px;">
                    <label class="bodychart-label" for="천면">천면</label>
                    <div class="bodychart-checkbox">
                        <input name="천면" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 630px;">
                    <label class="bodychart-label" for="다몽">다몽</label>
                    <div class="bodychart-checkbox">
                        <input name="다몽" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 50px; left: 290px;">
                    <label class="bodychart-label" for="안구건조">안구건조</label>
                    <div class="">
                        <input name="안구건조" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 50px; left: 608px;">
                    <label class="bodychart-label" for="피로감">피로감</label>
                    <div class="non-padding">
                        <input name="피로감" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 70px;">
                    <label class="bodychart-label" for="구취">구취</label>
                    <div class="">
                        <input name="구취" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 242px;">
                    <label class="bodychart-label" for="두불청">구건</label>
                    <div class="bodychart-checkbox">
                        <input name="구건" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 322px;">
                    <label class="bodychart-label" for="두중감">구고</label>
                    <div class="bodychart-checkbox">
                        <input name="구고" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 402px;">
                    <label class="bodychart-label" for="구내염">구내염</label>
                    <div class="bodychart-checkbox">
                        <input name="구내염" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 608px;">
                    <label class="bodychart-label" for="건망증">건망증</label>
                    <div class="non-padding">
                        <input name="건망증" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 30px;">
                    <label class="bodychart-label" for="급">급</label>
                    <div class="">
                        <input name="급" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 170px; left: 30px;">
                    <label class="bodychart-label" for="폭">폭</label>
                    <div class="">
                        <input name="폭" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 210px; left: 30px;">
                    <label class="bodychart-label" for="과">과</label>
                    <div class="">
                        <input name="과" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 140px;">
                    <label class="bodychart-label" for="해수">해수</label>
                    <div class="bodychart-checkbox">
                        <input name="해수" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 220px;">
                    <label class="bodychart-label" for="객담">객담</label>
                    <div class="bodychart-checkbox">
                        <input name="객담" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 170px; left: 120px;">
                    <label class="bodychart-label" for="목이물감">목이물감</label>
                    <div class="bodychart-checkbox">
                        <input name="목이물감" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 170px; left: 220px;">
                    <label class="bodychart-label" for="인통">인통</label>
                    <div class="bodychart-checkbox">
                        <input name="인통" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 310px;">
                    <label class="bodychart-label" for="不">不</label>
                    <div class="non-padding">
                        <input name="不" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 390px;">
                    <label class="bodychart-label" for="면">면</label>
                    <div class="non-padding">
                        <input name="면" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 470px;">
                    <label class="bodychart-label" for="육">육</label>
                    <div class="non-padding">
                        <input name="육" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 560px;">
                    <label class="bodychart-label" for="인">인</label>
                    <div class="non-padding">
                        <input name="인" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 640px;">
                    <label class="bodychart-label" for="견통">견통</label>
                    <div class="">
                        <input name="견통" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 170px; left: 310px;">
                    <label class="bodychart-label" for="소화불량">소화불량</label>
                    <div class="">
                        <input name="소화불량" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 170px; left: 410px;">
                    <label class="bodychart-label" for="명치답답">명치답답</label>
                    <div class="">
                        <input name="명치답답" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 170px; left: 510px;">
                    <label class="bodychart-label" for="체함">체함</label>
                    <div class="">
                        <input name="체함" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 210px; left: 310px;">
                    <label class="bodychart-label" for="심계">심계</label>
                    <div class="">
                        <input name="심계" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 210px; left: 390px;">
                    <label class="bodychart-label" for="불안">불안</label>
                    <div class="">
                        <input name="불안" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 250px; left: 310px;">
                    <label class="bodychart-label" for="흉민">흉민</label>
                    <div class="">
                        <input name="흉민" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 250px; left: 390px;">
                    <label class="bodychart-label" for="흉통">흉통</label>
                    <div class="">
                        <input name="흉통" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 290px; left: 298px;">
                    <label class="bodychart-label" for="상열감">상열감</label>
                    <div class="non-padding">
                        <input name="상열감" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 290px; left: 390px;">
                    <label class="bodychart-label" for="숨참">숨참</label>
                    <div class="">
                        <input name="숨참" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 250px; left: 30px;">
                    <label class="bodychart-label" for="더부룩가스">더부룩</label>
                    <div class="non-padding">
                        <input name="더부룩가스" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 290px; left: 30px;">
                    <label class="bodychart-label" for="트림">트림</label>
                    <div class="non-padding">
                        <input name="트림" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 290px; left: 122px;">
                    <label class="bodychart-label" for="구토">구토</label>
                    <div class="bodychart-checkbox">
                        <input name="구토" type="checkbox" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 330px; left: 30px;">
                    <label class="bodychart-label" for="속쓰림">속쓰림</label>
                    <div class="non-padding">
                        <input name="속쓰림" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 330px; left: 110px;">
                    <label class="bodychart-label" for="하복냉">하복냉</label>
                    <div class="non-padding bodychart-checkbox">
                        <input name="하복냉" type="checkbox" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 30px;">
                    <label class="bodychart-label" for="역류">역류</label>
                    <div class="">
                        <input name="역류" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 410px; left: 30px;">
                    <label class="bodychart-label" for="오심">오심</label>
                    <div class="">
                        <input name="오심" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 450px; left: 30px;">
                    <label class="bodychart-label" for="복통">복통</label>
                    <div class="">
                        <input name="복통" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 210px; left: 140px;">
                    <label class="bodychart-label" for="복진-상">복진-상</label>
                    <div class="">
                        <input name="복진-상" type="text" class="bodychart-input-text" style="width: 70px;" maxlength="5">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 250px; left: 140px;">
                    <label class="bodychart-label" for="복진-하">복진-하</label>
                    <div class="">
                        <input name="복진-하" type="text" class="bodychart-input-text" style="width: 70px;" maxlength="5">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 330px; left: 220px;">
                    <label class="bodychart-label" for="양호">양호</label>
                    <div class="bodychart-checkbox">
                        <input name="양호" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 330px; left: 300px;">
                    <label class="bodychart-label" for="배뇨지연">배뇨지연</label>
                    <div class="bodychart-checkbox">
                        <input name="배뇨지연" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 220px;">
                    <label class="bodychart-label" for="빈삭">빈삭</label>
                    <div class="bodychart-checkbox">
                        <input name="빈삭" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 300px;">
                    <label class="bodychart-label" for="잔뇨감">잔뇨감</label>
                    <div class="non-padding">
                        <input name="잔뇨감" type="text" class="bodychart-input-text" maxlength="1" placeholder="회">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 410px; left: 220px;">
                    <label class="bodychart-label" for="불규칙">불규칙</label>
                    <div class="non-padding bodychart-checkbox">
                        <input name="불규칙" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 410px; left: 312px;">
                    <label class="bodychart-label" for="폐경">폐경</label>
                    <div class="bodychart-checkbox">
                        <input name="폐경" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 450px; left: 220px;">
                    <label class="bodychart-label" for="생리통">생리통</label>
                    <div class="non-padding bodychart-checkbox">
                        <input name="생리통" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 450px; left: 300px;">
                    <label class="bodychart-label" for="냉대하">냉대하</label>
                    <div class="non-padding bodychart-checkbox">
                        <input name="냉대하" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 330px; left: 460px;">
                    <label class="bodychart-label" for="대변">대변</label>
                    <div class="non-padding">
                        <input name="대변" type="text" class="bodychart-input-text" maxlength="1">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 460px;">
                    <label class="bodychart-label" for="경변">경변</label>
                    <div class="non-padding bodychart-checkbox">
                        <input name="경변" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 540px;">
                    <label class="bodychart-label" for="연변">연변</label>
                    <div class="non-padding bodychart-checkbox">
                        <input name="연변" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 620px;">
                    <label class="bodychart-label" for="설사">설사</label>
                    <div class="non-padding bodychart-checkbox">
                        <input name="설사" type="checkbox">
                    </div>
                </div>

                <div class="form-check form-check-inline" style="position: absolute; top: 530px; left: 40px; width: 90px;">
                    <label class="bodychart-label" for="냉감">수/족 냉감</label>
                    <div class="bodychart-checkbox">
                        <input name="열감/냉감" type="radio">
                    </div>
                </div>
                <div class="form-check form-check-inline" style="position: absolute; top: 570px; left: 40px; width: 90px;">
                    <label class="bodychart-label" for="열감">수/족 열감</label>
                    <div class="bodychart-checkbox">
                        <input name="열감/냉감" type="radio">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="column-right">
    <div class="w-panel">
        <div class="section-header-div">
            <span class="section-header-text">처방</span>
        </div>
        <div class="prescription-panel">
            
        </div>
    </div>
</div>

<div class="column-left">
    <div class="w-panel">
        <div class="section-header-div">
            <span class="section-header-text">처방목록</span>
        </div>
        <br>
        <div class="prescription-panel">
                <div class="panel panel-default">
                        <!-- <div class="panel-heading"><b> Demo </b> </div> -->
                      
                    <div class="panel-body">
                    <div style="width:100%; height:570px; overflow:auto;">
                        <div class="tbl_user_data"></div>
                    </div>
                    </div>
                      
                </div>
            <!-- <form class="form-horizontal form-label-left">
                    <div class="col-md-12 col-xs-12">
                            <div style="width:100%; height:570px; overflow:auto; background-color:white">
                               <table class="table table-striped" style='line-height:70%'>
                                 <tbody>
                                     <tr>
                                        <th>처방명칭</th>
                                        <th>용량</th>
                                        <th>횟수</th>
                                        <th>일수</th>
                                        <th>혈명/첩/팩</th>
                                     </tr>
                                     <tr>
                                         <td>첩약1</td>
                                         <td>0.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약2</td>
                                         <td>7.6000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약3</td>
                                         <td>14.0000</td>
                                         <td>2</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약4</td>
                                         <td>8.5000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약5</td>
                                         <td>13.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약6</td>
                                         <td>1.5000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약7</td>
                                         <td>5.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약8</td>
                                         <td>38.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약9</td>
                                         <td>14.0000</td>
                                         <td>2</td>
                                         <td>1</td>
                                         <td></td>
                                     </tr>
                                     <tr>
                                         <td>첩약10</td>
                                         <td>2.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약11</td>
                                         <td>12.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약12</td>
                                         <td>7.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약13</td>
                                         <td>9.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약14</td>
                                         <td>2.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약15</td>
                                         <td>1.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                        <tr>
                                        <td>첩약16</td>
                                         <td>1.7000</td>
                                         <td>2</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약17</td>
                                         <td>16.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약18</td>
                                         <td>1.0000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                    <tr>
                                        <td>첩약19</td>
                                         <td>1.8000</td>
                                         <td>1</td>
                                         <td>1</td>
                                         <td></td>
                                    </tr>
                                 </tbody>
                             </table>
                            </div>
                          
                      </div>       
                </form>                  -->
        </div>
    </div>
</div>

<div class="column-right">
        <div class="w-panel">
            <div class="section-header-div">
                <span class="section-header-text">온톨로지</span>
            </div>
            <br>
            <div class="ontology-panel">
                    <div style="width:100%; height:250px; overflow:auto; background-color:white">
                            <table class="table table-striped" style='line-height:60%'>
                              <tbody>
                                  <tr>
                                      <td>소화불량</td>
                                  </tr>
                                  <tr>
                                      <td>명치답답</td>
                                  </tr>
                                  <tr>
                                      <td>명치부위 압통</td>
                                  </tr>
                                  <tr>
                                      <td>담적 상복부</td>
                                  </tr>
                                  <tr>
                                      <td>담적 하복부</td>
                                  </tr>
                                  <tr>
                                      <td>명치통증</td>
                                  </tr>
                                  <tr>
                                      <td>불안함</td>
                                  </tr>
                                  <tr>
                                      <td>추위 탐</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                      <td>건망증</td>
                                  </tr>
                                  <tr>
                                       <td>건망증</td>
                                   </tr>
                                   <tr>
                                       <td>건망증</td>
                                   </tr>
                                   <tr>
                                       <td>건망증</td>
                                   </tr>
                                   <tr>
                                       <td>건망증</td>
                                   </tr>
                              </tbody>
                          </table>
                        </div>                
            </div>
            <div class="section-header-div">
            </div>
            <div class="section-header-div">
                <span class="section-header-text">인공지능</span>
            </div>
            <br>
            <div class="ai-panel">
                    <div style="width:100%; height:250px; overflow:auto; background-color:white">
                            <table class="table table-striped" style='line-height:60%'>
                              <tbody>
                                <tr>
                                    <td>소화불량</td>
                                </tr>
                                <tr>
                                    <td>명치답답</td>
                                </tr>
                                <tr>
                                    <td>명치부위 압통</td>
                                </tr>
                                <tr>
                                    <td>담적 상복부</td>
                                </tr>
                                <tr>
                                    <td>담적 하복부</td>
                                </tr>
                                <tr>
                                    <td>명치통증</td>
                                </tr>
                                <tr>
                                    <td>불안함</td>
                                </tr>
                                <tr>
                                    <td>추위 탐</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                    <td>건망증</td>
                                </tr>
                                <tr>
                                     <td>건망증</td>
                                 </tr>
                                 <tr>
                                     <td>건망증</td>
                                 </tr>
                                 <tr>
                                     <td>건망증</td>
                                 </tr>
                                 <tr>
                                     <td>건망증</td>
                                 </tr>
                              </tbody>
                          </table>
                         </div>
            </div>
        </div>
    </div>

{% endblock content %}