{% extends "data_collecting/base.html" %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ko.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="/static/js/custom.js"></script>
{% endblock scripts %}

{% block content %}

<div class="snb_list">
    <div class="box_with_border">
        <div class="section-header">
            <span class="section-header-text">환자 리스트</span>
        </div>
        <!-- <div class="section-search">
            <div class="input-daterange input-group">
                <input type="text" class="form-control" name="start" />
                <input type="text" class="form-control" name="end" />
            </div>
        </div> -->
        <div class="layout-content-list scrollbar-default">
            <div class="force-overflow">
                <div id="patientList" class="list-patient list-group list-group-flush" id="list-tab" role="tablist"></div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <form id="patient-data-submit" action="{% url 'data_collecting:submit' %}" method="post">
        {% csrf_token %}
        <div class="layout-content-top">
            <div class="box_with_border">
                <div class="form-inline">
                    <div class="basic-information-group">
                        <label for="input-chart-id">* 차트번호</label>
                        <input id="input-chart-id" name="id" type="text" class="form-control basic-information-input"
                            style="width: 120px;" maxlength="8" required>
                    </div>
                    <div class="basic-information-group">
                        <label for="input-gender">성별</label>
                        <select id="input-gender" name="gender" class="form-control basic_info">
                            <option value="W" selected>여</option>
                            <option value="M">남</option>
                        </select>
                    </div>
                    <div class="basic-information-group">
                        <label for="input-age">* 나이</label>
                        <div class="input-group">
                            <input id="input-age" name="age" type="text" class="basic_info form-control basic-information-input"
                                style="width: 70px;" maxlength="3" required>
                            <div class="input-group-prepend">
                                <div class="input-group-text custom-prepend">세</div>
                            </div>
                            <div class="invalid-feedback">
                                정확한 나이를 입력해주세요.
                            </div>
                        </div>
                    </div>
                    <div class="basic-information-group">
                        <label for="input-height">키</label>
                        <div class="input-group">
                            <input id="input-height" name="height" type="text" class="basic_info form-control basic-information-input"
                                style="width: 70px;" maxlength="3">
                            <div class="input-group-prepend">
                                <div class="input-group-text custom-prepend">cm</div>
                            </div>
                            <div class="invalid-feedback">
                                정확한 키를 입력해주세요.
                            </div>
                        </div>

                    </div>
                    <div class="basic-information-group">
                        <label for="input-weight">몸무게</label>
                        <div class="input-group">
                            <input id="input-weight" name="weight" type="text" class="basic_info form-control basic-information-input"
                                style="width: 70px;" maxlength="3">
                            <div class="input-group-prepend">
                                <div class="input-group-text custom-prepend">kg</div>
                            </div>
                            <div class="invalid-feedback">
                                정확한 몸무게를 입력해주세요.
                            </div>
                        </div>

                    </div>
                    <div class="basic-information-group">
                        <label for="input-blood-high">혈압</label>
                    </div>
                    <div class="basic-information-group">
                        <label for="input-blood-high">수축기</label>
                        <input type="text" class="basic_info form-control basic-information-input" id="input-blood-high"
                            name="blood_high" style="width: 70px;" maxlength="3">
                        <div class="invalid-feedback">
                            정확한 혈압을 입력해주세요.
                        </div>
                    </div>
                    <div class="basic-information-group">
                        <label for="input-blood-low">이완기</label>
                        <input type="text" class="basic_info form-control basic-information-input" id="input-blood-low"
                            name="blood_low" style="width: 70px;" maxlength="3">
                        <div class="invalid-feedback">
                            정확한 혈압을 입력해주세요.
                        </div>
                    </div>

                    <div class="modified-date" hidden="true">
                        <p>최근 저장일자:
                            <span id="last-modified-date"> </span>
                        </p>
                    </div>

                    <div class="form-group basic-information-btn-group">
                        <button id="delete-btn" class="btn btn-outline-danger btn-custom" type="button" data-toggle="modal"
                            data-target="#deleteModal">
                            삭제하기
                        </button>
                        <input id="submit-btn" class="btn btn-info btn-custom" type="submit" value="저장하기">
                        <span class="fa"></span>
                        </input>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-content-second">
            <div class="layout-content-bodychart">
                <div class="box_with_border">
                    <div class="section-header">
                        <span class="section-header-text">Body Chart</span>
                    </div>
                    <div class="chart-subinfo">
                        <label class="bodychart-label" for="급">급</label>
                        <input name="급" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        <label class="bodychart-label" for="폭">폭</label>
                        <input name="폭" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        <label class="bodychart-label" for="과">과</label>
                        <input name="과" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        <label class="bodychart-label" for="불">불</label>
                        <input name="불" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        <label class="bodychart-label" for="면">면</label>
                        <input name="면" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        <label class="bodychart-label" for="육">육</label>
                        <input name="육" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        <label class="bodychart-label" for="인">인</label>
                        <input name="인" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                    </div>
                    <div class="chart-field">
                        <img src="/static/images/bodychart_updated_hans.png">

                        <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 70px;">
                            <label class="bodychart-label" for="두통">두통</label>
                            <input name="두통" class="form-control bodychart-input-text bodychart" type="text" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 150px;">
                            <label class="bodychart-label" for="현훈">현훈</label>
                            <input name="현훈" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 230px;">
                            <label class="bodychart-label" for="두불청">두불청</label>
                            <input name="두불청" class="bodychart" type="checkbox">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 50px; left: 230px;">
                            <label class="bodychart-label" for="두중감">두중감</label>
                            <div class="bodychart-checkbox">
                                <input name="두중감" class="bodychart" type="checkbox">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 450px;">
                            <label class="bodychart-label" for="안면">안면</label>
                            <div class="bodychart-checkbox">
                                <input class="bodychart" name="안면불면" type="radio" value="안면">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 40px; left: 450px;">
                            <label class="bodychart-label" for="불면">불면</label>
                            <div class="bodychart-checkbox">
                                <input class="bodychart" name="안면불면" type="radio" value="불면">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 70px; left: 450px;">
                            <label class="bodychart-label" for="없음">없음</label>
                            <div class="bodychart-checkbox">
                                <input class="bodychart" name="안면불면" type="radio" value="없음" checked>
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 550px;">
                            <label class="bodychart-label" for="천면">천면</label>
                            <div class="bodychart-checkbox">
                                <input name="천면" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 10px; left: 630px;">
                            <label class="bodychart-label" for="다몽">다몽</label>
                            <div class="bodychart-checkbox">
                                <input name="다몽" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 50px; left: 41px;">
                            <label class="bodychart-label" for="안구건조">안구건조</label>
                            <input name="안구건조" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 50px; left: 608px;">
                            <label class="bodychart-label" for="피로감">피로감</label>
                            <input name="피로감" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 230px;">
                            <label class="bodychart-label" for="구취">구취</label>
                            <input name="구취" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 242px;">
                            <label class="bodychart-label" for="두불청">구건</label>
                            <div class="bodychart-checkbox">
                                <input name="구건" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 322px;">
                            <label class="bodychart-label" for="두중감">구고</label>
                            <div class="bodychart-checkbox">
                                <input name="구고" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 308px;">
                            <label class="bodychart-label" for="구내염">구내염</label>
                            <div class="bodychart-checkbox">
                                <input name="구내염" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 90px; left: 608px;">
                            <label class="bodychart-label" for="건망증">건망증</label>
                            <input name="건망증" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 130px; left: 78px;">
                            <label class="bodychart-label" for="해수">해수</label>
                            <div class="bodychart-checkbox">
                                <input name="해수" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 160px; left: 78px;">
                            <label class="bodychart-label" for="객담">객담</label>
                            <div class="bodychart-checkbox">
                                <input name="객담" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 100px; left: 50px;">
                            <label class="bodychart-label" for="목이물감">목이물감</label>
                            <div class="bodychart-checkbox">
                                <input name="목이물감" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 190px; left: 78px;">
                            <label class="bodychart-label" for="인통">인통</label>
                            <div class="bodychart-checkbox">
                                <input name="인통" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 150px; left: 550px;">
                            <label class="bodychart-label" for="견통">견통</label>
                            <input name="견통" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 110px; left: 520px;">
                            <label class="bodychart-label" for="항강">항강</label>
                            <input name="항강" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 350px; left: 350px;">
                            <label class="bodychart-label" for="소화불량">소화불량</label>
                            <input name="소화불량" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 350px; left: 280px;">
                            <label class="bodychart-label" for="체함">체함</label>
                            <input name="체함" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 225px; left: 120px;">
                            <label class="bodychart-label" for="명치답답">명치답답</label>
                            <input name="명치답답" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 255px; left: 120px;">
                            <label class="bodychart-label" for="명치통증">명치통증</label>
                            <input name="명치통증" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 210px; left: 260px;">
                            <label class="bodychart-label" for="두근거림">두근거림</label>
                            <input name="두근거림" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 210px; left: 370px;">
                            <label class="bodychart-label" for="불안">불안</label>
                            <input name="불안" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 210px; left: 470px;">
                            <label class="bodychart-label" for="등뻐근">등뻐근</label>
                            <input name="등뻐근" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 250px; left: 260px;">
                            <label class="bodychart-label" for="가슴답답">가슴답답</label>
                            <input name="가슴답답" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 250px; left: 360px;">
                            <label class="bodychart-label" for="가슴통증">가슴통증</label>
                            <input name="가슴통증" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 290px; left: 270px;">
                            <label class="bodychart-label" for="상열감">상열감</label>
                            <input name="상열감" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 290px; left: 370px;">
                            <label class="bodychart-label" for="숨참">숨참</label>
                            <input name="숨참" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 300px; left: 120px;">
                            <label class="bodychart-label" for="더부룩상">더부룩上</label>
                            <input name="더부룩상" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 335px; left: 120px;">
                            <label class="bodychart-label" for="더부룩하">더부룩下</label>
                            <input name="더부룩하" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 400px; left: 250px;">
                            <label class="bodychart-label" for="트림공복">트림공복</label>
                            <input name="트림공복" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 400px; left: 350px;">
                            <label class="bodychart-label" for="트림식후">트림식후</label>
                            <input name="트림식후" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>


                        <div class="form-check form-check-inline" style="position: absolute; top: 450px; left: 235px;">
                            <label class="bodychart-label" for="속쓰림공복">속쓰림공복</label>
                            <input name="속쓰림공복" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 450px; left: 350px;">
                            <label class="bodychart-label" for="속쓰림식후">속쓰림식후</label>
                            <input name="속쓰림식후" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 375px; left: 150px;">
                            <label class="bodychart-label" for="하복냉">하복냉</label>
                            <div class="bodychart-checkbox">
                                <input name="하복냉" type="checkbox" class="bodychart" maxlength="1">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 500px; left: 250px;">
                            <label class="bodychart-label" for="역류공복">역류공복</label>
                            <input name="역류공복" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 500px; left: 350px;">
                            <label class="bodychart-label" for="역류식후">역류식후</label>
                            <input name="역류식후" type="text" class="form-control bodychart-input-text bodychart"
                                maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 550px; left: 280px;">
                            <label class="bodychart-label" for="오심">오심</label>
                            <input name="오심" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>


                        <div class="form-check form-check-inline" style="position: absolute; top: 550px; left: 380px;">
                            <label class="bodychart-label" for="복통">복통</label>
                            <input name="복통" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 420px; left: 140px;">
                            <label class="bodychart-label" for="소변양호">소변양호</label>
                            <div class="bodychart-checkbox">
                                <input name="소변양호" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 450px; left: 140px;">
                            <label class="bodychart-label" for="배뇨지연">배뇨지연</label>
                            <div class="bodychart-checkbox">
                                <input name="배뇨지연" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 480px; left: 168px;">
                            <label class="bodychart-label" for="빈삭">빈삭</label>
                            <div class="bodychart-checkbox">
                                <input name="빈삭" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 510px; left: 140px;">
                            <label class="bodychart-label" for="잔뇨감">잔뇨감</label>
                            <input name="잔뇨감" type="text" class="form-control bodychart-input-text bodychart" maxlength="1"
                                placeholder="회">
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 600px; left: 300px;">
                            <label class="bodychart-label" for="생리불순">생리불순</label>
                            <div class="bodychart-checkbox">
                                <input name="생리불순" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 630px; left: 400px;">
                            <label class="bodychart-label" for="폐경">폐경</label>
                            <div class="bodychart-checkbox">
                                <input name="폐경" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 630px; left: 300px;">
                            <label class="bodychart-label" for="생리통">생리통</label>
                            <div class="bodychart-checkbox">
                                <input name="생리통" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 600px; left: 400px;">
                            <label class="bodychart-label" for="냉대하">냉대하</label>
                            <div class="bodychart-checkbox">
                                <input name="냉대하" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 330px; left: 460px;">
                            <label class="bodychart-label" for="대변">대변</label>
                            <input name="대변일" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                            <label class="bodychart-label" for="대변일">일</label>
                            <input name="대변회" type="text" class="form-control bodychart-input-text bodychart" maxlength="1">
                            <label class="bodychart-label" for="대변회">회</label>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 460px;">
                            <label class="bodychart-label" for="단단">단단</label>
                            <div class="bodychart-checkbox">
                                <input name="단단" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 520px;">
                            <label class="bodychart-label" for="무름">무름</label>
                            <div class="bodychart-checkbox">
                                <input name="무름" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 580px;">
                            <label class="bodychart-label" for="설사">설사</label>
                            <div class="bodychart-checkbox">
                                <input name="설사" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 370px; left: 640px;">
                            <label class="bodychart-label" for="잔변감">잔변감</label>
                            <div class="bodychart-checkbox">
                                <input name="잔변감" type="checkbox" class="bodychart">
                            </div>
                        </div>

                        <div class="form-check form-check-inline" style="position: absolute; top: 700px; left: 40px; width: 90px;">
                            <label class="bodychart-label" for="냉감">수/족 냉감</label>
                            <div class="bodychart-checkbox">
                                <input class="bodychart" name="열감냉감" type="radio" value="냉감">
                            </div>
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 730px; left: 40px; width: 90px;">
                            <label class="bodychart-label" for="열감">수/족 열감</label>
                            <div class="bodychart-checkbox">
                                <input class="bodychart" name="열감냉감" type="radio" value="열감">
                            </div>
                        </div>
                        <div class="form-check form-check-inline" style="position: absolute; top: 760px; left: 40px; width: 90px;">
                            <label class="bodychart-label" for="없음">없음</label>
                            <div class="bodychart-checkbox">
                                <input class="bodychart" name="열감냉감" type="radio" value="없음" checked>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout-content-abdominal">
                <div class="box_with_border">
                    <div class="section-header">
                        <span class="section-header-text">복진</span>
                    </div>
                    <div class="chart-field">
                        <img src="/static/images/abdominal_hans.png">
                        <div style="position: absolute; top: -5px; left: 115px;">
                            <label class="bodychart-label" for="명치">명치</label>
                            <input name="명치" class="form-control bodychart-input-text abdominal" type="text" maxlength="5">
                        </div>
                        <div style="position: absolute; top: 85px; left: 115px;">
                            <label class="bodychart-label" for="상">상</label>
                            <input name="복부상" class="form-control bodychart-input-text abdominal" type="text" maxlength="5">
                        </div>

                        <div style="position: absolute; top: 155px; left: 55px;">
                            <label class="bodychart-label" for="복부하좌">하-우</label>
                            <input name="복부하좌" class="form-control bodychart-input-text abdominal" type="text"
                                maxlength="5">
                        </div>

                        <div style="position: absolute; top: 155px; left: 175px;">
                            <label class="bodychart-label" for="복부하우">하-좌</label>
                            <input name="복부하우" class="form-control bodychart-input-text abdominal" type="text"
                                maxlength="5">
                        </div>

                        <div style="position: absolute; top: 215px; left: 115px;">
                            <label class="bodychart-label" for="복부하">하</label>
                            <input name="복부하" class="form-control bodychart-input-text abdominal" type="text" maxlength="5">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout-content-comment">
                <div class="box_with_border">
                    <div class="section-header">
                        <span class="section-header-text">EAV</span>
                    </div>
                    <div class="form-group eav-form-group">
                        <label for="input-eav-1">1순위</label>
                        <select name="input-eav-1" class="eav form-control">
                            {% include "data_collecting/eav_select_options.html" %}
                        </select>
                    </div>

                    <div class="form-group eav-form-group">
                        <label for="input-eav-2">2순위</label>
                        <select name="input-eav-2" class="eav form-control">
                            {% include "data_collecting/eav_select_options.html" %}
                        </select>
                    </div>

                    <div class="form-group eav-form-group">
                        <label for="input-eav-3">3순위</label>
                        <select name="input-eav-3" class="eav form-control">
                            {% include "data_collecting/eav_select_options.html" %}
                        </select>
                    </div>

                    <div class="form-group eav-form-group">
                        <label for="input-eav-4">4순위</label>
                        <select name="input-eav-4" class="eav form-control">
                            {% include "data_collecting/eav_select_options.html" %}
                        </select>
                    </div>

                    <div class="form-group eav-form-group">
                        <label for="input-eav-5">5순위</label>
                        <select name="input-eav-5" class="eav form-control">
                            {% include "data_collecting/eav_select_options.html" %}
                        </select>
                    </div>

                    <div class="form-group eav-form-group">
                        <label for="input-eav-6">6순위</label>
                        <select name="input-eav-6" class="eav form-control">
                            {% include "data_collecting/eav_select_options.html" %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-content-third">
            <div class="layout-content-tongue">
                <div class="box_with_border">
                    <div class="section-header">
                        <span class="section-header-text">설진</span>
                        <div class="tongue-title-section-radio">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="경면설">경면설</label>
                                <input class="form-check-input tongue" type="radio" name="설진" value="경면설">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="지도설">지도설</label>
                                <input class="form-check-input tongue" type="radio" name="설진" value="지도설">
                            </div>
                        </div>
                    </div>

                    <div class="tongue-panel">
                        <p class="h5">설체</p>
                        <div class="tongue-detail-form">
                            <div class="form-check-inline">
                                <p class="tongue-form-category">색</p>
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체담백">담백</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체담백">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체담홍">담홍</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체담홍">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체홍">홍</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체홍">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체심홍">심홍</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체심홍">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체강">강</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체강">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체자">자</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체자">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체청">청</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체청">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체담">담</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" name="설체담">
                            </div>
                        </div>

                        <div class="tongue-detail-form">
                            <div class="form-check-inline">
                                <p class="tongue-form-category">두께</p>
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="반대">반대(두껍다)</label>
                                <input class="form-check-input tongue" name="설체두께" type="radio" value="반대">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="수박">수박(얇다)</label>
                                <input class="form-check-input tongue" name="설체두께" type="radio" value="수박">
                            </div>
                        </div>

                        <div class="tongue-detail-form">
                            <div class="form-check-inline">
                                <p class="tongue-form-category">형태</p>
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체열문">열문</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" value="열문"
                                    name="설체열문">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체치흔">치흔</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" value="치흔"
                                    name="설체치흔">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체망자">망자</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" value="망자"
                                    name="설체망자">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체홍점">홍점</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" value="홍점"
                                    name="설체홍점">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체어점">어점</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" value="어점"
                                    name="설체어점">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체어반">어반</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" value="어반"
                                    name="설체어반">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설체위축">위축</label>
                                <input class="form-check-input tongue" type="checkbox" class="bodychart" value="위축"
                                    name="설체위축">
                            </div>
                        </div>

                        <p class="h5">설태</p>
                        <div class="tongue-detail-form">
                            <div class="form-check-inline">
                                <p class="tongue-form-category">색</p>
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태담백">담백</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태담백" id="설태담백">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태담홍">담홍</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태담홍" id="설태담홍">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태홍">홍</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태홍" id="설태홍">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태심홍">심홍</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태심홍" id="설태심홍">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태강">강</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태강" id="설태강">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태자">자</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태자" id="설태자">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태청">청</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태청" id="설태청">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태담">담</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태담" id="설태담">
                            </div>
                        </div>

                        <div class="tongue-detail-form">
                            <div class="form-check-inline">
                                <p class="tongue-form-category">두께</p>
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태반대">반대(두껍다)</label>
                                <input class="form-check-input tongue" name="설태두께" type="radio" value="반대" id="설태반대">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태수박">수박(얇다)</label>
                                <input class="form-check-input tongue" name="설태두께" type="radio" value="수박" id="설태수박">
                            </div>
                        </div>

                        <div class="tongue-detail-form">
                            <div class="form-check-inline">
                                <p class="tongue-form-category">형태</p>
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태열문">열문</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태열문" id="설태열문">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태치흔">치흔</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태치흔" id="설태치흔">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태망자">망자</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태망자" id="설태망자">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태홍점">홍점</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태홍점" id="설태홍점">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태어점">어점</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태어점" id="설태어점">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태어반">어반</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태어반" id="설태어반">
                            </div>

                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="설태위축">위축</label>
                                <input class="form-check-input tongue" type="checkbox" name="설태위축" id="설태위축">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-ai-diagnosis">
                <div class="box_with_border">
                    <div class="section-header">
                        <span class="section-header-text">인공지능처방</span>
                    </div>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

        <div class="layout-content-prescription">
            <div class="box_with_border">
                <div class="section-header">
                    <span class="section-header-text">처방 입력</span>
                </div>
                <div class="section-prescription-form container">
                    <div class="row">
                        <div class="prescription first col-md col-sm">
                            <h5 value="처방1">처방 1
                                <span style="float: right; font-size:0.8em;">용량합계:
                                    <span class="sum">0</span>mg</span>
                            </h5>
                            {% include "data_collecting/prescription-table.html" %}
                        </div>
                        <div class="prescription second col-md col-sm">
                            <h5 value="처방2">처방 2
                                <span style="float: right; font-size:0.8em;">용량합계:
                                    <span class="sum">0</span>mg</span>
                            </h5>
                            {% include "data_collecting/prescription-table.html" %}
                        </div>
                        <div class="prescription third col-md col-sm">
                            <h5 value="처방3">처방 3
                                <span style="float: right; font-size:0.8em;">용량합계:
                                    <span class="sum">0</span>mg</span>
                            </h5>
                            {% include "data_collecting/prescription-table.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" value="?">삭제</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                정말로 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <form action="{% url 'data_collecting:delete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="deleteId" name="deleteId" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <input type="submit" class="btn btn-danger" value="삭제">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}