<option>가스@</option>
<option>가스</option>
<option>갱년기</option>
<option>두통</option>
<option>변비</option>
<option>보약</option>
<option>수면</option>
<option>수면(2)</option>
<option>수자심</option>
<option>실열</option>
<option>소화</option>
<option>속쓰림</option>
<option>소체</option>
<option>설사</option>
<option>실체</option>
<option>심혈</option>
<option>옻</option>
<option>어지럼</option>
<option>음적</option>
<option>중체</option>
<option selected>청쾌</option>
<option>체기</option>
<option>총명</option>
<option>피부</option>
<option>허한</option>
<option>홍소</option>
<option>협심</option>
<option>BC</option>