<div class="pre-table-scroll scrollbar-default">
    <div class="pre-table">
        <table class="table table-hover table-striped">
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <select class="form-control">
            {% include "data_collecting/prescription_select_options.html" %}
        </select>
    </div>
    <div class="form-group col-md-3">
        <input type="text" class="form-control doses" placeholder="용량">
    </div>
    <div class="form-group col-md-3">
        <button type="button" class="pre-btn form-control btn btn-success">추가</button>
    </div>
</div>