body,
html {
  height: 100%;
}

.wrap {
  position: relative;
  overflow: hidden;
  min-width: 1100px;
  background: #f2f4f7;
}

.w-header {
  border-bottom: 1px solid #d1d8e4;
  background: #fff;
}

.logo-section {
  height: 140px;
}

.area-flex {
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height: 100%;
}

.logo {
  position: absolute;
  top: 20%;
}

.top-navigation-container {
  position: absolute;
  top: 50%;
  right: 8px;
}

.w-container {
  margin: 0 auto;
  padding: 8px 0px;
  width: 1080px;
  text-align: left;
  zoom: 1;
  overflow: auto;
}

.column-left {
  float: left;
  padding-top: 8px;
  width: 740px;
}

.column-right {
  position: relative;
  float: right;
  width: 330px;
  padding-top: 8px;
}

.column-both {
  clear: both;
  padding-top: 8px;
  text-align: left;
  zoom: 1;
}

.w-panel {
  padding: 10px;
  background: #fff;
  border: 1px solid #dee3eb;
  opacity: 1;
}

.form-row.basic-information-row {
  margin: 0px;
  display: block;
  overflow: auto;
}

.form-group.basic-information-group {
  float: left;
  margin-bottom: 0px;
  margin: 2px 8px;
}

.form-group.basic-information-btn-group {
  float: right;
  margin-bottom: 0;
}

.bodychart-panel {
  text-align: center;
}

.section-header-div {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #ebeef3;
  padding: 0px 16px;
}

.section-header-text {
  font-size: 1.5rem;
}

.bodychart-form-field {
  position: relative;
}

.bodychart-label {
  padding-left: 0px;
  padding-right: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 0.9rem;
}

.bodychart-input-text {
  border-radius: 0;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-weight: bold;
  color: #00968D;
  font-size: 18px;
  width: 30px;
  height: 30px;
}

.eav-panel {
  height: 592px;
}

.tongue-title-section-radio {
  position: absolute;
  top: 0;
  right: -3px;
  zoom: 1;
  margin-top: 8px;
}

.tongue-panel {
  padding: 16px 8px;
}

.tongue-detail-form {
  padding-top: 4px;
  padding-left: 16px;
  padding-bottom: 4px;
}

.form-check-label {
  padding-right: 5px;
}

p.tongue-form-category {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.section-footer {
  margin-top: 16px;
  border-top: 1px solid #e3e7ee;
  background: #fff;
  text-align: left;
}

.company-info {
  position: relative;
  margin: 0 auto;
  padding-top: 24px;
  width: 1080px;
  height: 132px;
  zoom: 1;
}

.border-left {
  margin-left: 8px;
  margin-right: 8px;
}

p.footer {
  color: #888;
  font-size: 12px;
}

.basic-information-input {
  text-align: center;
  font-weight: bold;
  color: #00968D;
  font-size: 18px;
}

.btn-custom {
  margin-top: 32px;
  padding: 8px;
  margin-bottom: 0px;
}

.form-group.eav-form-group {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.comment-panel {
  height: 281px;
  padding: 8px 2px;
}

.eav-btn-group {
  position: absolute;
  bottom: 12px;
}

/* TABLE */